@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Arimo', sans-serif;
}
/* styles/globals.css ou styles/Carousel.module.css */
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite;
}

/* app/globals.css */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Glacial Indifference', sans-serif;
}

body, p, a, li {
  font-family: 'Arimo', sans-serif;
}